{% extends 'base.html.twig' %}

{% block title %}SymRecipe -Inscription
{% endblock %}

{% block body %}
<div class="container">
<h5 class="mt-3">Formulaire d'inscription</h5>

{{ form(form) }}

</div>
{% endblock %}
